:root{
    --color-blue-soft: #053160;
    --color-blue-dark: #031E3c;

    --color-yellow: #FFC80B;

    --button-height: 92px;
    --slider-position: 10%;
}

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    max-width: 100%;
    min-height: 100vh;
}

html{
    background-color: var(--color-blue-dark);
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue-soft);
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-between; 
}

button{
    border: none;
    background-color: transparent;
    color: var(--color-yellow);
    cursor: pointer;
    font-size: clamp(2.5rem, 2vw, 3.5rem);
    font-weight: bold;
    flex: 1;
}

#info{
    display: flex;
    height: var(--button-height);
    justify-content: center;
}

#menu{
    display: flex;
    height: var(--button-height);
    padding-bottom: 2%;
}

#controller{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}


/*CSS VOLUME*/
input {
    position: relative;
    appearance: none;
    background-color: var(--color-blue-dark);
    height: var(--button-height);
    width: 100%;
  }
  
  input:before {
    content: "";
    position: absolute;
    width: var(--slider-position);
    height: 100%;
    background-color: var(--color-yellow);
  }
  
  input::-webkit-slider-thumb {
    opacity: 0;
  }
